
    <div class="row" *ngIf="modalSwitch == true">


        <app-modal-register class="modal"></app-modal-register>
    

    </div>

<div class="row login_main padding-3 ">



    <div class="c3 padding-1 justify-center">

        <div class="row border-radius-3 shadow-1 bg-white overflow-hidden">

            <div class="row  padding-2 justify-center ">

                <h3 class="text-green text-bolder">Inicia Sesión</h3>

            </div>


            <div class="row padding-y-2 padding-x-3">

                <div class="input-group-column w-100">

                    <label for="">Usuario</label>
                    <input type="text" name="" id="">

                </div>
                <div class="input-group-column w-100">

                    <label for="">Contraseña</label>
                    <input type="text" name="" id="">

                </div>
                <div class="row padding-y-2">

                    <button class="btn btn-large btn-green"><i class="icon-login"></i> Ingresar</button>
                    <button class="btn btn-large btn-secondary-green" (click)="openModal()">Registrarse</button>

                </div>

                <div class="row justify-center">

                    <a href="link-dark">Olvidaste tu contraseña?</a>

                </div>




            </div>


        </div>

    </div>

    <!--Bienvenida-->

    <div class="c9 padding-x-5 ">

        <h1 class="font-size-4 phone-font-size-2 text-bolder padding-y-2">Bienvenido a QoA</h1>

        
        <ul>
            <li><p class="text-bolder">El cambio empieza desde tu siguiente comida.</p>
                <p>Alimentarse bien no tiene por qué ser dificil ni costoso. Puedes empezar a cambiar tu vida desde tu siguiente comida si tú lo decides. </p>
            </li>
            <li>

                <p class="text-bolder">Sigue el plan indicado para tus objetivos. </p>
                <p>En QoA vamos a diseñar un plan con el que podrás alcanzar tus objetivos y mantenerte a largo plazo de manera efectiva. </p>
    
            </li>
            <li>

                <p class="text-bolder">Mantente motivado </p>
                <p>Obtén un reporte periódico de tu proceso, esto te mantendrá dispuesto a darlo todo. </p>
    
            </li>

        </ul>

     
     
        

    </div>

</div>

