
.container{

display: flex;
width: 100%;
flex-direction: column;
padding-left: 5rem;
padding-right: 5rem;
}

.row{

    
    display: flex;
    flex-wrap: wrap;
    width: 100%;


}

.no-wrap{flex-wrap: nowrap;}

.c1{width: 8.3%; display: flex; flex-direction: column}
.c2{width: 16.3%; display: flex; flex-direction: column}
.c3{width: 24.9%; display: flex; flex-direction: column}
.c4{width: 33.2%; display: flex; flex-direction: column}
.c5{width: 41.5%; display: flex; flex-direction: column}
.c6{width: 50%; display: flex; flex-direction: column}
.c7{width: 58.1%; display: flex; flex-direction: column}
.c8{width: 66.4% ; display: flex; flex-direction: column}
.c9{width: 74.7%; display: flex; flex-direction: column}
.c10{width:83%; display: flex; flex-direction: column}
.c11{width:91.3%; display: flex; flex-direction: column}
.c12{width: 100%; display: flex; flex-direction: column}




@media (max-width:990px){




    .table-c1{width: 8.3%; display: flex; flex-direction: column}
    .table-c2{width: 16.3%; display: flex; flex-direction: column}
    .table-c3{width: 24.9%; display: flex; flex-direction: column}
    .table-c4{width: 33.2%; display: flex; flex-direction: column}
    .table-c5{width: 41.5%; display: flex; flex-direction: column}
    .table-c6{width: 50%; display: flex; flex-direction: column}
    .table-c7{width: 58.1%; display: flex; flex-direction: column}
    .table-c8{width: 66.4% ; display: flex; flex-direction: column}
    .table-c9{width: 74.7%; display: flex; flex-direction: column}
    .table-c10{width:83%; display: flex; flex-direction: column}
    .table-c11{width:91.3%; display: flex; flex-direction: column}
    .table-c12{width: 100%; display: flex; flex-direction: column}
}

@media (max-width:580px){

    .container{

        display: flex;
        width: 100%;
        flex-direction: column;
        padding-left: 0rem;
        padding-right: 0rem;
        }

    .c1{flex-grow:unset;
        width: 100%;}
    .c2{flex-grow:unset;
        width: 100%;}
    .c3{flex-grow:unset;
        width: 100%;}
    .c4{flex-grow:unset;
        width: 100%;}
    .c5{flex-grow:unset;
        width: 100%;}
    .c6{flex-grow:unset;
        width: 100%;}
    .c7{flex-grow:unset;
        width: 100%;}
    .c8{flex-grow:unset;
        width: 100%;}
    .c9{flex-grow:unset;
        width: 100%;}
    .c10{flex-grow:unset;
        width: 100%;}
    .c11{flex-grow:unset;
        width: 100%;}
    .c12{flex-grow:unset;
        width: 100%;}
    

    .phone-c1{width: 8.3%; display: flex; flex-direction: column}
    .phone-c2{width: 16.3%; display: flex; flex-direction: column}
    .phone-c3{width: 24.9%; display: flex; flex-direction: column}
    .phone-c4{width: 33.2%; display: flex; flex-direction: column}
    .phone-c5{width: 41.5%; display: flex; flex-direction: column}
    .phone-c6{width: 50%; display: flex; flex-direction: column}
    .phone-c7{width: 58.1%; display: flex; flex-direction: column}
    .phone-c8{width: 66.4% ; display: flex; flex-direction: column}
    .phone-c9{width: 74.7%; display: flex; flex-direction: column}
    .phone-c10{width:83%; display: flex; flex-direction: column}
    .phone-c11{width:91.3%; display: flex; flex-direction: column}
    .phone-c12{width: 100%; display: flex; flex-direction: column}

}




//Overflow

.overflow-hidden{overflow: hidden;}
.overflow-scroll{overflow: scroll;}
.overflow-y-scroll{overflow-y: scroll;}
.overflow-x-scroll{overflow-x: scroll;}


@media (max-width:580px){

    .phone-overflow-hidden{overflow: hidden;}
    .phone-overflow{overflow: scroll;}
    .phone-overflow-x-scroll{overflow-x: scroll;}
    .phone-overflow-y-scroll{overflow-y: scroll;}

}

@media (max-width:990px){

    .tablet-overflow-hidden{overflow: hidden;}
    .tablet-overflow{overflow: scroll;}
    .tablet-overflow-x-scroll{overflow-x: scroll;}
    .tablet-overflow-y-scroll{overflow-y: scroll;}

}

@media (min-width:1280px){

    .desktop-overflow-hidden{overflow: hidden;}
    .desktop-overflow-y-scroll{overflow-y: scroll;}
    .desktop-overflow-x-scroll{overflow-x: scroll;}
    
    }

/*Flexbox*/

.justify-end{justify-content: flex-end;}
    .justify-center{justify-content: center;}
    .justify-between{justify-content: space-between;}
    .justify-around{justify-content: space-around;}
    .align-center{align-items: center;}
    .align-end{align-items: flex-end;}

@media (max-width:580px){

    .phone-justify-end{justify-content: flex-end;}
    .phone-justify-center{justify-content: center;}
    .phone-justify-between{justify-content: space-between;}
    .phone-justify-around{justify-content: space-around;}
    .phone-align-center{align-items: center;}
    .phone-align-end{align-items: flex-end;}

}

@media (max-width:990px){

    .tablet-justify-end{justify-content: flex-end;}
    .tablet-justify-center{justify-content: center;}
    .tablet-justify-between{justify-content: space-between;}
    .tablet-justify-around{justify-content: space-around;}
    .tablet-align-center{align-items: center;}
    .tablet-align-end{align-items: flex-end;}

}

@media (min-width:1280px){

    .desktop-justify-end{justify-content: flex-end;}
    .desktop-justify-center{justify-content: center;}
    .desktop-justify-between{justify-content: space-between;}
    .desktop-justify-around{justify-content: space-around;}
    .desktop-align-center{align-items: center;}
    .desktop-align-end{align-items: flex-end;}
    
}










