.modal{display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        background: rgba(37, 37, 37, 0.171);
        position: fixed;
        z-index: 100;
        padding: 3rem;
        top: 0;
        left: 0;}


@media (max-width:580px){


        
.modal {height: 100%;
        position: fixed;
        padding-top: 100px;
        top: 0;
        z-index: 100}



        .modal .row:nth-child(2){height: 100%;
                overflow-y: auto;
             
                ;}

}

