<div class="row w-50 phone-w-100 border-radius-3 bg-white overflow-hidden shadow-1 padding-y-2">


        <div class="row padding-x-2 w-100 justify-between">


            <h2 class="text-green text-bolder">Registrate</h2>

            <button class="btn btn-green btn-rounded" (click)="modalClose()"> <i class="icon-cancel"></i> </button>

        </div>

        <div class="row padding-x-2">


           <div class="row">

            <div class="c6 micro-padding-x" >

                <div class="input-group-column">

                    <label for="" class="text-green">Nombres</label>
                    <input type="text" name="" id="" >
                    
                </div>

            </div>
            <div class="c6 micro-padding-x">

                <div class="input-group-column">

                    <label for="" class="text-green">Correo Electrónico</label>
                    <input type="text" name="" id="">
                   
                </div>

            </div>


           </div>
           <div class="row">

            <div class="c6 micro-padding-x" >

                <div class="input-group-column">

                    <label for="" class="text-green">Contraseña</label>
                    <input type="password" name="" id="">
                   
                </div>
               
               

            </div>
            <div class="c6 micro-padding-x">

                <div class="input-group-column">

                    <label for="" class="text-green">Confirmar Contraseña</label>
                    <input type="password" 
                     >

                </div>
              
              

            </div>


           </div>

           <div class="row padding-y-2 " *ngIf="">

            <button class="btn btn-disable">Registrarse</button>

           </div>

         
           <ng-template #btnRegister>

            <div class="row padding-y-2">


                <button  class="btn btn-green">Registrarse</button>

            </div>


           </ng-template>


        </div>


</div>
